/* COLORS */
$dark-blue: #2e3642;
$primary-color: cadetblue;
$light-blue: aliceblue;
$light-grey: lightgrey;
$red: red;
$white: white;

$box-shadow: rgba(177, 190, 201, 0.48);
$box-shadow-hover: rgba(177, 190, 201, 1.48);
